*.DS_Store
./.config/nvim/plugin

# emacs
.config/emacs/.emacs.d/bookmarks


network-security.data
*auto-save-list
elpa
mpd.db 
mpd.log 
mpd.pid 
mpdstate

# vim
.config/nvim/plugin
*~

./.config/git/gitconfig


# pomo
pomo_mode
pomo_timer.pid