*.DS_Store
*.bash_history

.stfolder/
.Trash-1000

src/emacs/.emacs.d/auto-save-list
src/emacs/.emacs.d/eln-cache
src/emacs/.emacs.d/org-persist
src/emacs/.emacs.d/bookmarks

# 環境ファイル
.env

docs/sphinx/resources
docs/sphinx/build

.devcontainer/infra/docker/ssh-stub/ssh/id*
