<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HintWindowDelayAfterSpaceKeyDown</key>
	<real>1</real>
	<key>KeyAndActionPairs</key>
	<array>
		<dict>
			<key>Action</key>
			<dict>
				<key>LastUsed</key>
				<date>2023-01-27T16:42:28Z</date>
				<key>Type</key>
				<string>URLAction</string>
				<key>URL</key>
				<string>file:///Applications/iTerm.app/</string>
			</dict>
			<key>KeyCode</key>
			<integer>34</integer>
		</dict>
		<dict>
			<key>Action</key>
			<dict>
				<key>LastUsed</key>
				<date>2023-01-27T23:07:29Z</date>
				<key>Type</key>
				<string>URLAction</string>
				<key>URL</key>
				<string>file:///Applications/Google%20Chrome.app/</string>
			</dict>
			<key>KeyCode</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Action</key>
			<dict>
				<key>LastUsed</key>
				<date>2023-01-27T23:27:42Z</date>
				<key>Type</key>
				<string>URLAction</string>
				<key>URL</key>
				<string>file:///Applications/Brave%20Browser.app/</string>
			</dict>
			<key>KeyCode</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>Action</key>
			<dict>
				<key>LastUsed</key>
				<date>2023-01-27T07:55:40Z</date>
				<key>Type</key>
				<string>URLAction</string>
				<key>URL</key>
				<string>file:///Applications/Firefox.app/</string>
			</dict>
			<key>KeyCode</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Action</key>
			<dict>
				<key>LastUsed</key>
				<date>2023-01-27T23:45:29Z</date>
				<key>Type</key>
				<string>URLAction</string>
				<key>URL</key>
				<string>file:///System/Applications/Notes.app/</string>
			</dict>
			<key>KeyCode</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Action</key>
			<dict>
				<key>Type</key>
				<string>URLAction</string>
				<key>URL</key>
				<string>file:///System/Applications/System%20Settings.app/</string>
			</dict>
			<key>KeyCode</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Action</key>
			<dict>
				<key>LastUsed</key>
				<date>2023-01-27T02:05:14Z</date>
				<key>Type</key>
				<string>URLAction</string>
				<key>URL</key>
				<string>file:///System/Applications/Music.app/</string>
			</dict>
			<key>KeyCode</key>
			<integer>46</integer>
		</dict>
		<dict>
			<key>Action</key>
			<dict>
				<key>LastUsed</key>
				<date>2023-01-27T22:40:35Z</date>
				<key>Type</key>
				<string>URLAction</string>
				<key>URL</key>
				<string>file:///Applications/Docker.app/</string>
			</dict>
			<key>KeyCode</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Action</key>
			<dict>
				<key>LastUsed</key>
				<date>2023-01-27T15:25:02Z</date>
				<key>Type</key>
				<string>URLAction</string>
				<key>URL</key>
				<string>file:///System/Applications/Mail.app/</string>
			</dict>
			<key>KeyCode</key>
			<integer>33</integer>
		</dict>
	</array>
	<key>RecognitionDelayAfterSpaceKeyDown</key>
	<real>0.20000000000000001</real>
	<key>SpaceRecognitionDelayAfterLastKey</key>
	<real>0.20000000000000001</real>
</dict>
</plist>
